.map-search {
    position: relative;
    display: inline-block;
    width: 100%;
}

.map-search > .search-route-list {
    list-style: none;
}

.map-search > .map-subway-div > .map-canvasImg {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    background: #a8a8a8;
    border: 4px solid #1b5ac2;
}

.map-search > .map-subway-div > .canvas-modal-back {
    position: relative;
    color: black;
    margin: auto;
    left: 0;
    width: 1008px;
    min-height: 708px;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.map-search > .map-subway-div > .canvas-modal-back > .canvas-modal-front{
    position: absolute;
    width: 50%;
    height: 70%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid rgb(0, 0, 0);
    background: white;
}

.map-search > .map-subway-div > div > div > .map-header-modal{
    width: 95%;
    text-align: right;
}

.map-search > .map-search-main > form > .map-search-form {
    position: relative;
    display: inline-block;
    height: 43px;
    width: 400px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

.map-search > .map-search-main > form > .map-search-form > .map-search-form-list{
    height: 100%;
}

.map-search > .map-search-main > form > .map-search-form > .map-search-form-list ul{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flow-root;
    background: #ffffff;
}

.map-search > .map-search-main > form > .map-search-form > .map-search-form-list ul > .activate {
    display: flow-root;
}

.map-search > .map-search-main > form > .map-search-form > .map-search-form-list ul > .deactivate {
    display: none;
}

.map-search > .map-search-main > form > .map-search-form > .map-search-form-list ul > .empty-search-history {
    list-style: none;
    font-size: 15px;
    text-align: center;
    color: black;
    padding: 5px 0px 5px 10px;
}

.map-search > .map-search-main > form > .map-search-form > input[type="text"]{
    font-size: 20px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.map-search > .map-search-main > form > .map-search-form > button[type="submit"]{
    width: 55px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}

.map-search > .map-search-main > .map-search-form > input:-ms-input-placeholder { color: #a8a8a8; }
.map-search > .map-search-main > .map-search-form > input::-webkit-input-placeholder { color: #a8a8a8; }
.map-search > .map-search-main > .map-search-form > input::-moz-input-placeholder { color: #a8a8a8; }

.map-search > .map-search-main > div > .open {
    display: block;
}

.map-search > .map-search-main > div > .close {
    display: none;
}

.map-search > .map-search-station > .map-station-table {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.map-search > .map-search-station > .map-station-table > tbody > tr > td > .highlight {
    color: red;
}

.activate {
    display: block;
}

.deactivate {
    display: none;
}