/* .map-search {}

.map-search-content {

} */

.map-search-map {
    position: relative;
    display: inline-block;
    width: 100%;
}

.map-search-map > .map-search-station > .map-station-table {
    position: relative;
    display: inline-block;
    font-size: 20px;
}